{{ define "title"}}
  - {{ .Title }}
{{ end }}


{{ define "content" }}
  {{ partial "header.html" . }}
  {{ partial "page_intro.html" . }}

{{ range $index, $session := where (.Site.Pages.ByParam "endTime").Reverse "Type" "session" }}
  {{ $t := (time .Params.endTime )}}
  {{ if $t.After now }}
  <section class="next-sessions">
    {{ if (eq $index 0) }}
      <h2 class="title-m">Future sessions</h2>
      {{ partial "sessions_list/next_session.html" $session }}
    {{ else }}
      {{ partial "sessions_list/next_session.html" $session }}
    {{ end}}
  </section>
  {{ end }}
{{ end }}

  <section class="previous-sessions">
    <h2 class="title-m">Past sessions</h2>
    <div id="sessions">
      {{ range where (.Site.Pages.ByParam "startTime").Reverse "Type" "session" }}
        {{ $t := (time .Params.endTime) }}
          {{ if $t.Before now }}
            {{ partial "sessions_list/session_list_item.html" . }}
          {{ end }}
      {{ end }}
    </div>
  </section>
{{ end }}

{{ define "host" }}
  {{ partial "host.html" . }}
{{ end }}
