<section class="speaker-podcast-intro">
  <h2 id="podcast-title">{{ .Title }}</h2>
    {{ with index .Params.speakers 0 }}
  <h3 id="speaker-name">{{ .firstName}} {{ .lastName}}</h3>
  <p id="speaker-role">{{ .role }}</p>
    {{ end }}
 </section>
