<section class="podcast_hero">
  <div class="row">
    {{ with index .Params.speakers 0 }}
      <div class="col-1 img-podcast"style="background:url({{ .image }}) no-repeat center center; background-size: cover; height:500px;">
    {{ end }}
      <div class="play">
        <div class="triangle"></div>
        <div class="circle"></div>

       </div>
     </div>
    <div class="col-2">
      <span>&#8221;</span>
      <h3 class="podcast-quote">{{ .Params.quote}}</h3>
     </div>
   </div>
 </sectio>
