<section class="bio">
  <div class="row">
    <div class="col-1">
    </div>
    <div class="col-2">
      {{ with index .Params.speakers 0 }}
          <p>{{ .bio | markdownify }}</p>
      {{ end }}
      <div class="img"></div>
    </div>
  </div>
 </section>
