html, body, h1, h2, h3, h4, ul, ol, p, a {
 padding: 0;
 border: 0;
 margin: 0;
 font: inherit;
}

body {
  font-size: 16px;
  color: #202020;
  box-sizing: border-box;
}

/* Typography */
h1 {
  font-size: 5em;
  font-weight: bolder;
  font-family: 'Ubuntu', sans-serif;
  line-height: 1.6em;
}

h2 {
  font-size: 2.827em;
  font-family: 'Ubuntu', sans-serif;
}

h3 {
  font-size: 1.999em;
  font-family: 'Open Sans', sans-serif;
}

p, li {
  font-size: 1.2em;
  font-family: 'Open Sans', sans-serif;
  margin:0.4em 0 1em 0;
  line-height: 1.6em;
}

a {
  color: #202020;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  border-bottom: 2px solid black;
}
a:hover, :focus {
  color:#202020;
  border-bottom: 0px solid #fff;
}
a:active {
  border:0;
}

img {
  width: 100%;
}
span {
  font-family: 'Open Sans', sans-serif;
}
/* Common */
.site {
  margin: 0 6em;
  box-sizing: border-box;
  animation: fadeIn 2s forwards;
  /* animation: slideLeft 1s cubic-bezier(.17,.67,.58,1) forwards; */
}
.row {
  display:flex;
  flex-direction: row;
}
.page-intro {
  margin: 6em 0 6em 0;
}
.center {
  text-align: center;
}
.centre {
  margin:  0 auto;
  width: 65%;
  text-align: center;
}
.title-xs {
  padding-bottom: 0.2em;
}


/* *********** MENU / navigation *********** */
/* Top navigation menu */
nav {
  padding:2em 0;
}

#main-nav a {
  border:0;
  font-size: 1.2em;
  position: relative;
  transition: width 6s ease;
  -webkit-transition: width 6s ease;
}
#main-nav a:hover {
  color:#000333;
  border:0;
}
#main-nav a:after{
  content: '';
  width: 0;
  height: 2px;
  display: block;
  margin-top: 3px;
  right: 0;
  background: #000;
  transition: width .2s ease;
  -webkit-transition: width .2s ease;
}
#main-nav a:hover:after{
  width: 100%;
  left: 0;
  background: #000;
}
#menu {
  float: left;
}
#home {
  float: right;
}

/* Menu window onclick */
#close-menu {
  cursor: pointer;
  font-size: 2em;
  position: relative;
  left: 105%;
}
#close-menu:hover {
  color: #f1f1f1;
}
#main-menu {
  background-color: #4F4DDB;
  display: none;
  height: 100vh;
  left: 0;
  overflow-x: hidden;
  padding: 5em 6em;
  position: fixed;
  top: 0;
  transition: 0.5s;
  width: 40%;
  z-index: 3;
}
#menu-container {
  display: flex;
  flex-direction: column;
  position: relative;
  top:10%;
}
#menu-container ul {
  list-style-type:none;
}
#menu-container li a {
  border-bottom: none;
  font-weight: bolder;
  font-size: 3.2em;
  line-height: 1em;
  transition: 0.3s;
}
#main-menu li a:hover, #main-menu li a:focus {
  color: #f1f1f1;
  border-bottom: none;
}
#menu-container .sub-nav li a {
  font-size: 1.6em;
}
.sub-nav {
  margin:2em 0;
}
.sub-nav ul {
  display: flex;
  flex-direction: column;
}
/* Menu: Social media links  */
.social-nav ul {
  display: flex;
  flex-direction: row;
}
#menu-container .social-nav ul li a {
  color: white;
  font-weight: 100;
  font-size: 1em;
  padding-right: 1.6em;
}

/* *********** HOME *********** */

/* -webkit-animation: colours 22s infinite;
-moz-animation: colours 22s infinite;
animation: colours 22s infinite; */
#ani {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
#ani img {
  flex-grow: 1;
}

/* Page Intro */
.main-site {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.main-site .page-intro {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 8em;
}
.main-site .page-intro h3 {
  margin:auto 0;
  width:100%;
}

/* Banner next events */
#banner {
  background: #F8E71C;
  padding:0.8em 0;
  width:100%;
  /* Stick banner to the top */
  /* position: -webkit-sticky; /* Safari */
  position: sticky; */
  top: 0;
  z-index: 2;
}

/* Only to display one banner */
#banner:nth-child(2) {
  display: none;
}

#banner .row {
  align-items: baseline;
  display: flex;
  flex-direction: row;
  padding: 0 6rem;
}

#banner .row .col-1 {
  display: flex;
  flex-direction: row;
  /* width: calc(100% / 3 * 2); */
  align-items: baseline;
}
#banner .row .col-2 {
  align-items: baseline;
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
}
#banner .row .col-1 p, #banner .row .col-1 span {
  padding-right: 0.5em;
}
#banner #session-date, #banner #session-startTime, #banner #session-endTime {
  font-size:1em;
  font-weight: normal;
}
/* Button */
#banner a {
  border: 0px;
}
#banner .btn-large {
  background-color: #F8E71C;
  border: 2px solid black;
  padding: 0.8em 2.6em;
  margin-left: 2em;
}

/* Arrow scroll down Homepage */
.scroll-down {
  margin: 0 auto;
	display: block;
	text-decoration: none;
  width: 1.4em;
  height: 1.4em;
}
.scroll-down a {
  border: none;
}
#ani .scroll-down {
  padding-bottom: 2em;
  -webkit-animation: move_down 2s ease-in-out infinite;
	-moz-animation:    move_down 2s ease-in-out infinite;
	animation:         move_down 2s ease-in-out infinite;
}

/* *********** MANIFESTO ***********  */
/* Manifesto */
.manifesto-item p {
  font-size: 1.35em;
}
.manifesto-block {
  display: flex;
  justify-content: space-between;
  margin: 4em 0;
}
.manifesto-block.reverse {
  flex-direction: row-reverse;
}
.manifesto-item {
  align-self: center;
  width: 500px;
}
.manifesto-item img {
  transform: scale(0.8);
  /* padding: 2em; */
}
/* Sponsor */
.sponsor {
  background-color: #FE103E;
  display: flex;
  flex-direction: column;
  padding: 8em 0;
  color: white;
}
.sponsor a {
  color: white;
  border-bottom: 2px solid white;
}
.sponsor a:hover {
  border: none;
}
.sponsor-copy {
  padding: 1em 0;
  margin: 0 auto;
  width:66.6%;
}
.sponsor img {
  padding-top: 1em;
  margin: 0 auto;
  width:16%;
}

/* *********** PODCAST *********** */
.podcast {
  margin-bottom: 0;
}
#podcast-list {
  margin-top:2em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* Podcast card for each speaker */
.podcast-card {
  width: 500px;
  height: 500px;
  margin-bottom: 16em;
  text-align: center;
}
.podcast-details {
  padding-top: 1.4em;
}

/* Podcast card on hover */
.podcast-card:hover > .podcast-details {
  visibility: none;
  opacity: 0;
  transition: opacity 0.2s, visibility .2s;
}
.podcast-card a:hover > .podcast-overview {
  background: #F8E71C !important;
  -webkit-animation: rotation 0.2s linear;
  -moz-animation: rotation 0.2s linear;
  animation: rotation 0.2s linear;
}

.podcast-overview {
  position: relative;
  width: 100%;
  height: 100%;
  border-bottom: 4px solid #F8E71C;
}
.podcast-overview a {
  width: 100%;
  height: 100%;
}

/* Message on hover - CTA*/
.podcast-cta {
  opacity: 0;
  visibility: hidden;
  position:absolute;
  top:40%;
  width: 100%;
  color:#000333;
  text-align: center;
}

.podcast-card a:hover > .podcast-overview > .podcast-cta {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.1s, visibility .1s;
}

.podcast-cta span {
  border-bottom: 2px solid black;
  line-height: 2em;
  font-size: 1.8em;
}

/* Speaker podcast page */
.speaker-podcast-intro {
  margin: 6em 0 4em 0;
}
.speaker-podcast-intro #speaker-role {
  color:#9B9B9B;
}

.podcast_hero .row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4em;
}

.podcast_hero .col-1 {
  width: 50%;
  margin-right: 6em;
}

.podcast_hero .col-2 {
  width: 50%;
  text-align: center;
}
.podcast_hero .col-2 span {
  font-size: 5em;
}
.podcast_hero .col-2 h3 {
  text-align: left;
}
.img-podcast {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/* Play button */
.play {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}
.circle {
  background-color: #35DEA6;
  border-radius: 50%;
  height: 100px;
  position: absolute;
  width: 100px;
  z-index: 1;
}
.triangle {
  border-left: solid 30px white;
  border-bottom: solid 20px transparent;
  border-top: solid 20px transparent;
  position: relative;
  right:-0.9%;
  z-index: 2;
}
/* Speaker bio + images  */
.bio {
  background-color: #EFEFEF;
  display: flex;
  justify-content: space-between;
}
.bio .col-1, .bio .col-2 {
  width: 50%;
}
.bio .row {
  padding: 4em 6em;
}

/* *********** SESSIONS *********** */
/* Next Session Card */

.session-card {
  display: flex;
  flex-direction: column;
  margin: 2em 0 4em 0;
}
.session-card .row {
  display: flex;
  padding: 2em 2em 3em 2em;
  flex-direction: row;
}
.session-card .row:first-child {
  align-items: baseline;
}
.session-card .row:last-child {
  align-items: center;
}
.session-card .row .col-1 {
  width: calc(100% / 2 * 1);
}
.session-card .row .col-1 p {
  margin: 0.2em auto;
}
.session-card .row .col-2 {
  font-size: 1.2em;
  font-weight: bold;
  text-align: right;
  width: calc(100% / 2 * 1);
}
.btn-large {
  display: inline-block;
  background-color: white;
  padding: 1em 2em;
  text-align: center;
}
.session-card .row .col-2 a {
  border-bottom: 0px solid white;
}
.session-card:hover  {
  background-color: #FFC8FE; /* Multiple colours */
  overflow: hidden;
}
#session-date, #session-startTime, #session-endTime {
  font-size: 1.2em;
  font-weight: bold;
}
.session-title {
  font-family: 'Open Sans', sans-serif;
  font-size: 2.827em;
  font-weight: bold;
}

/* Previous Sessions */
.previous-sessions h2 {
  margin-top: 4em;
}
.session {
  display:flex;
  flex-direction: column;
}
#sessions {
  margin-top: 2em;
}
.previous-sessions {
  margin-bottom: 10em;
}
/* Session-item: borders */
.content-item {
  border-top: 2px solid #333;
}
.content-item:last-child {
  border-bottom: 2px solid #333;
}
.content-item .row:first-child {
  display: flex;
}
.content-item .row {
  align-items: baseline;
  margin: 0.5em 0;
}
/* Session-item: justifying READ to the right */
.content-item .row:first-child {
  justify-content: space-around;
}
/* Session-item: margin-top when row 2 displays */
.content-item .row:last-child {
  margin:4em 0;
}
/* Session-item: styling span for both col-1 and col-2 */
.content-item .row span:first-child {
  color:#9B9B9B;
  font-size: 1.2em;
}
/* Session-item: col-1 */
.content-item .row .col-1 {
  width: 50%;
}
.content-item .row:last-child .col-1 {
  display: flex;
  flex-direction: column;
}
.location {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.2em;
}
.date {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.2em;
}
/* Session-item: col-2 */
.content-item .row .col-2 {
  width: 50%;
}
.content-item .row:first-child .col-2 {
  text-align: right;
}
.about {
  display: flex;
  flex-direction: column;
  margin-bottom: 2em;
}
.speakers {
  display: flex;
  flex-direction: column;
}
.speaker {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.2em;
  align-items: flex-start;
}
.speaker p {
  margin:0;
}
.speaker #speaker-name {
  font-weight: bold;
  line-height: 1.5em;
}
.speaker #speaker-role, #speaker-company {
  font-size:0.9em;
}
.content-item .row:first-child {
  display: flex;
  flex-direction: row;
}
/* Colour span READ */
.content-item .row:first-child span:first-of-type {
  color: #9B9B9B;
  font-size: 1em;
  cursor: pointer;
  text-transform: uppercase;
}
/* On hover rows */
.content-item .row:first-child span:first-of-type:hover {
  color: #4F4DDB;
}
.content-item .row:first-child:hover {
  color: #4F4DDB;
  cursor: grab;
}

/* *********** HOST *********** */
/* Host */
.host {
  background-color: #FFC8FE;
  margin-top: 4em;
  padding:4em 0;
}
.host-content {
  display: flex;
  flex-direction: row;
  margin: 0 6em;
}
.host-content ul{
  list-style-type: none;
}
.host-content li {
  line-height: 1em;
}
.host-item {
  width:50%;
}

/* *********** PRIVACY POLICY *********** */
#complaints-or-queries {
  margin-bottom: 4em;
}
#how-we-use-your-information ul {
  padding-left: 2em;
}

/* *********** CODE OF CONDUCT *********** */
#attribution {
  margin-bottom: 4em;
}
#our-standards ul {
  padding-left: 2em;
}

/* *********** FOOTER *********** */
/* Footer */
.footer {
  background-color: #4F4DDB;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
  padding: 4em 6em 0em 6em;
}
.footer h3 {
  color: white;
  font-size: 2.5em;
}
.footer h3 a {
  border-bottom: 4px solid white;
  color: white;
}
.footer h3 a:hover {
  border:none;
}
.footer .row:last-child {
  margin-bottom: 1.2em;
  display: flex;
  justify-content: space-between;
}
.footer .row .col-1 {
  align-self: baseline;
}
.footer .row .col-2 {
  align-self: center;
}
.footer .row .col-3 {
  align-self: baseline;
  text-align: right;
  color:white;
  font-size: 0.75em;
}
.footer .row .col-3 a {
  color:white;
  border-bottom: 2px solid white;
}
.footer .row .col-3 a:hover {
  border: none;
}
.footer li {
  display: inline-block;
}
.footer li a {
  font-size: 0.75em;
  color:white;
  border:none;
  margin-right: 1em;
}
.footer li a:hover {
  border-bottom: 2px solid white;
}



/*animated scroll arrow animation*/
@-webkit-keyframes move_down {
  0%   { -webkit-transform:translate(0,-10px) ;   }
  50%  { -webkit-transform:translate(0,10px) ; }
  100% { -webkit-transform:translate(0,-10px) ; }
}
@-moz-keyframes move_down {
  0%   { -moz-transform:translate(0,-10px) ;  }
  50%  { -moz-transform:translate(0,10px) ;  }
  100% { -moz-transform:translate(0,-10px) ; }
}
@keyframes move_down {
  0%   { transform:translate(0,-10px) ;  }
  50%  { transform:translate(0,10px) ;  }
  100% { transform:translate(0,-10px) ; }
}

/* slideLeft */
@-webkit-keyframes slideLeft {
  from {
    transform:translateX(0%);
  }
  to {
    transform: translateX(100%);
  }
}
@-moz-keyframes slideLeft {
  from {
    transform:translateX(0%);
  }
  to {
    transform: translateX(100%);
  }
}
@keyframes slideLeft {
  from {
    transform:translateX(0%);
  }
  to {
    transform: translateX(100%);
  }

}

/*Fade in text */
@-webkit-keyframes fadeIn {
  0% {
   opacity: 0;
   visibility: hidden;
 }
 100% {
   visibility: visible;
   opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  0% {
   opacity: 0;
   visibility: hidden;
 }
 100% {
   visibility: visible;
   opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
   opacity: 0;
   visibility: hidden;
 }
 100% {
   visibility: visible;
   opacity: 1;
  }
}

/*bg colours animation*/
@-webkit-keyframes colours {
  0% { background-color: #FE4F2D; } /* Orange */
  12.5% { background-color: #9AE0F4; } /* Light Blue */
  25% { background-color: #FE103E; } /* Red */
  37.5% { background-color: #F8E71C; } /* Yellow */
  50% { background-color: #FFC8FE; } /* Light Pink */
  62.5% { background-color: #35DEA6; } /* Green */
  75% { background-color: #4F4DDB; } /* Dark blue */
  87.5% { background-color: #EFEFEF; } /* Light Grey */
  100% { background-color: #FF95FF; } /* Dark Pink */
}
@-moz-keyframes colours {
  0% { background-color: #FE4F2D; } /* Orange */
  12.5% { background-color: #9AE0F4; } /* Light Blue */
  25% { background-color: #FE103E; } /* Red */
  37.5% { background-color: #F8E71C; } /* Yellow */
  50% { background-color: #FFC8FE; } /* Light Pink */
  62.5% { background-color: #35DEA6; } /* Green */
  75% { background-color: #4F4DDB; } /* Dark blue */
  87.5% { background-color: #EFEFEF; } /* Light Grey */
  100% { background-color: #FF95FF; } /* Dark Pink */
}
@keyframes colours {
  0% { background-color: #FE4F2D; } /* Orange */
  12.5% { background-color: #9AE0F4; } /* Light Blue */
  25% { background-color: #FE103E; } /* Red */
  37.5% { background-color: #F8E71C; } /* Yellow */
  50% { background-color: #FFC8FE; } /* Light Pink */
  62.5% { background-color: #35DEA6; } /* Green */
  75% { background-color: #4F4DDB; } /* Dark blue */
  87.5% { background-color: #EFEFEF; } /* Light Grey */
  100% { background-color: #FF95FF; } /* Dark Pink */
}

/*rotating*/
@keyframes rotation {
  0% {
    -webkit-transform: rotate(6deg);
  }
  50% {
    -webkit-transform: rotate(-3deg)
  }
  100% { -webkit-transform: rotate(6deg);
  }
}
@-webkit-keyframes rotation {
  0% {
    -webkit-transform: rotate(6deg);
  }
  50% {
    -webkit-transform: rotate(-3deg)
  }
  100% { -webkit-transform: rotate(6deg);
  }
}
@-moz-keyframes rotation {
  0% {
    -webkit-transform: rotate(6deg);
  }
  50% {
    -webkit-transform: rotate(-3deg)
  }
  100% { -webkit-transform: rotate(6deg);
  }
}


@media (hover: none) {
    a:hover { color: #202020; }
}


/* Tablet */
@media screen and (max-width:1024px) {
  .site {
    margin: auto 2em;
  }
/* Menu & Navigation */
  #close-menu {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    font-size: 3em;
  }
  #menu-container li a {
    font-size: 5em;
  }
  #main-menu {
    width: 100vw;
    padding: 2em 4em;
  }
/* Menu: Code of condcut & Privacy policy links  */
  nav.sub-nav ul li {
    font-size: 2em;
  }
/* Menu: Social media links  */
  #menu-container .social-nav ul li a {
    font-size: 1.4em;
  }

  .row {
    flex-direction: column;
  }

/* *********** HOME *********** */
  /* Page Intro */
  .main-site .page-intro {
    padding: 0 3em;
  }

  /* Banner next event */
  #banner .row {
    padding: 0 2rem;
    align-items: flex-start;
  }
  #banner .row .col-1 #session-title {
    width: calc(100% / 5 * 2);
  }
  #banner .row .col-2 {
    justify-content: flex-end;
  }

  #banner .btn-large {
    margin:0;
  }
/* *********** SESSIONS *********** */
  .session-card {
    background-color: #FE4F2D;
  }

  .session-card .row:last-of-type {
    align-items: flex-start;
    flex-direction: column;
  }

  .session-card .row:last-child .col-2 {
    background-color: white;
    text-align: center;
    width:100%;
  }

  .session-title {
    padding-bottom: 1em;
  }
  .previous-sessions h2 {
    margin-top: 3em;
  }
  .content-item .row:last-child .col-2 {
    width:100%;
  }
/* *********** PODCAST *********** */
  .podcast-card {
    width: 100%;
  }
/* *********** PODCAST SPEAKER PAGE *********** */
  .podcast_hero .row {
    flex:column;
    margin-bottom: 2em;
  }
  .podcast_hero .col-1 {
    width: 100%;
    margin-right: 0em;
  }
  .podcast_hero .col-2 {
    width: 100%;
    margin:1em 0 2em 0;
  }
  .podcast_hero .col-2 span {
    font-size: 4em;
  }
  .podcast_hero .col-2 h3 {
    text-align: center;
  }
  .bio .row {
    padding: 2em 1em;
    flex-direction: row;
  }

/* *********** SPONSOR *********** */
  .sponsor {
    padding: 3em 0;
  }
  .sponsor img {
    width:20%;
  }

/* *********** HOST *********** */
  .host-content {
    margin: 0 2em;
  }
/* *********** FOOTER *********** */
  .footer {
    padding: 1em 2em 0em 2em;
  }
  .footer h3 {
    font-size: 4em;
  }
  .footer h3 a {
    border-bottom: 3px solid white;
  }
  .footer .row {
    display: flex;
    flex-direction: column;
  }
  .footer .row:last-child {
    padding-bottom: 1em;
  }
  .footer .row .col-1 {
    width: 66.6%;
  }
  .footer .row .col-2 {
    display: none;
  }
  .footer .row .col-3 {
    font-size: 1em;
    margin-top: 1.5em;
    text-align: left;
    width: 100%;
  }
  .footer li {
    display:block;
  }
  .footer li a {
    font-size: 2em;
    margin-right: 2em;
  }
}

/* for the banner between 1024 - 1160px */
@media screen and (max-width: 1160px) {
  #banner .row .col-2 {
    justify-content: flex-end;
  }
}

@media screen and (max-width: 850px) {

  #banner {
    flex-direction: column;
  }

  #banner .row {
    flex-direction: column;
  }

}

/* Mobile */
@media screen and (max-width: 450px) {
  .site {
    margin: auto 1em;
    display: flex;
    flex-direction: column;
  }

  .home {
    height: 85vh;
  }

  h1 {
    font-size: 3.2em;
    line-height: 1.4em;
  }
  h2 {
    font-size: 2.6em;
  }
  h3 {
    font-size: 1.6em;
    font-family: 'Open Sans', sans-serif;
  }
  p, li {
    font-size: 1em;
  }
/* *********** Menu & Navigation *********** */
  #main-menu {
    padding-left: 1.8em;
  }
  #menu-container li a {
    font-size: 3.4em;
  }
/* Menu: Code of condcut & Privacy policy links  */
  nav.sub-nav ul li {
    font-size: 1.3em;
  }
/* Menu: Social media links  */
  #menu-container .social-nav ul li a {
    font-size: 1em;
  }

/* Homepage */
/* Banner next event */
  #banner {
    flex-direction: column;
  }

  #banner span {
    width: 90%;
    margin: 1.2em auto;
  }

  #banner .row .col-1 {
    justify-content: space-between;
    flex-direction: row;
    flex-flow: wrap;
  }

  #banner .row .col-1 p {
    display: block;
  }

  #banner .row .col-1 span, #banner .row .col-1 p {
    padding: 0;
    margin:0;
  }

  #banner .row .col-1 #session-title {
    width: 100%;
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 0.8rem;
  }

  #banner .row .col-2 {
    margin:0 auto;
    width: 100%;
  }

  #banner .row .col-2 span {
    width: 100%;
  }

  /* Button */
  #banner .btn-large {
    padding: 1em;
    display: block;
  }

  .spacer {
    display: none;
  }


/* Intro */
  #ani {
    height: 90vh;
  }
  #ani img {
    flex-grow: 1;
  }
  #ani .scroll-down {
    display: none;
  }

/* *********** HOME *********** */
  /* Page Intro */
  .main-site .page-intro {
    display: none;
  }
  .main-site {
    height: 0;
  }

/* *********** SESSIONS *********** */

  .session-card .row {
    flex-direction: column;
    padding: 1em;
  }
  .session-card .row .col-1, .session-card .row .col-2 {
    text-align: left;
    width:auto;
  }
  .session-card .row:last-child .col-2 {
    background-color: white;
    text-align: center;
    width:100%;
  }
  .session-title {
    padding-bottom: 1em;
    font-size: 2em;
  }
  .previous-sessions h2 {
    margin-top: 3em;
  }
.content-item .row:last-child .col-2 {
    width:100%;
  }

/* *********** PODCAST SPEAKER PAGE *********** */
  .podcast_hero .row {
    flex:column;
    margin-bottom: 2em;
  }
  .podcast_hero .col-1 {
    width: 100%;
    margin-right: 0em;
  }
  .podcast_hero .col-2 {
    width: 100%;
    margin-top: 1em;
  }
  .podcast_hero .col-2 span {
    font-size: 3em;
  }

  .bio .row .col-1 {
    display: none;
  }
  .bio .row .col-2 {
    width: 100%;
  }
  .bio .row {
    padding: 2em 1em;
    flex:column;
  }

/* *********** MANIFESTO *********** */
  .manifesto-block {
    flex-flow: column;
    flex-direction: column;
    margin:0;

  }
  .manifesto-block.reverse {
    flex-direction: column;
  }
  .manifesto-item {
    width: 100%;
  }
  .manifesto-block:last-child {
    padding-bottom: 2em;
  }

/* *********** SPONSOR *********** */
  .sponsor {
    padding: 3em 0;
  }
  .sponsor img {
    width:30%;
  }

/* *********** HOST *********** */
  .host {
    margin-top: 6em;
    padding:4em 0;
  }
  .host-content {
    flex-direction: column;
    margin: 0 1em;
  }
  .host-item {
  width:100%;
  }
/* *********** FOOTER *********** */
  .footer {
    padding: 1em 1em 0em 1em;
  }
  .footer h3 {
    font-size: 2.8em;
  }
  .footer h3 a {
    border-bottom: 3px solid white;
  }
  .footer .row {
    display: flex;
    flex-direction: column;
  }
  .footer .row:last-child {
    padding-bottom: 1em;
  }
  .footer .row .col-1 {
    width: 100%;
  }
  .footer .row .col-2 {
     display: none;
  }
  .footer .row .col-3 {
    font-size: 1em;
    margin-top: 1.5em;
    text-align: left;
    width: 100%;
  }
  .footer li {
  display:block;
  }
  .footer li a {
    font-size: 1.6em;
    margin-right: 2em;
  }
}



@media screen and (max-width: 330px) {
  .page-intro h1 {
    font-size: 2.8em;
    line-height: 1.2em;
  }
  .page-intro h3 {
    font-size: 1.4em;
  }

  /* *********** Menu & Navigation *********** */
    #main-menu {
      padding-left: 1.4em;
    }
    #menu-container li a {
      font-size: 3em;
    }
  /* Menu: Code of condcut & Privacy policy links  */
    nav.sub-nav ul li {
      font-size: 1em;
    }

    .sub-nav {
      margin: 0.8rem 0;
    }


  /* Menu: Social media links  */
    #menu-container .social-nav ul li a {
      font-size: 1em;
    }
}


@media screen and (min-width: 1600px) {
  .site {
    margin: auto 20em;
  }
/* *********** FOOTER *********** */
  .footer h3 {
  font-size: 4em;
  }
  .footer .row .col-1 {
    width: 36%;
  }
}
