{{ range where (.Site.Pages.ByParam "startTime").Reverse "Type" "session" }}
  {{ $t := (time .Params.endTime) }}
    {{ if $t.After now }}
      <div id="banner">
        <div class="marquee">
          <p class="marquee">
            <span class="session-type">
              {{ if in .RelPermalink "roundtables" }}
                {{ .Scratch.Set "sessionType" "Roundtable"}}
              {{ else if in .RelPermalink "networking"}}
                {{ .Scratch.Set "sessionType" "Networking"}}
              {{ else }}
                  {{ .Scratch.Set "sessionType" "Breakfast"}}
              {{ end }}
              {{- .Scratch.Get "sessionType" -}}
            </span>
            {{ .Title }} |
            <time id="session-date" datetime="{{.Params.startTime}}">{{ dateFormat "Monday 2 January 2006" .Params.startTime }}</time> |
            <time id="session-startTime" datetime="{{ .Params.startTime }}">{{ dateFormat "3:04" .Params.startTime }}</time> -
            <time id="session-endTime" datetime="{{ .Params.endTime }}">{{ dateFormat "3:04AM" .Params.endTime }}</time>
          </p>
        </div>
        <div id="bookingbutton">
          <a href="{{ .Params.bookingURL }}" class="btn">Book your ticket Now</a>
        </div>
      </div>
    {{ end }}
{{ end }}
