<footer>
  <section class="footer">
    <div class="row">
      <div class="col-1">
        <h3>Design on the Inside is presented by <a href="https://wearesnook.com" target="_blank">Snook</a></h3>
      </div>
    </div>
    <div class="row">
      <div class="col-1">
        <ul>
          {{ range .Site.Menus.social }}
            <li><a href="{{ .URL }}">{{ .Name }}</a></li>
          {{ end }}
        </ul>
        </div>
        <div class="col-2">
          <a href="#main-nav"><img src="/img/Arrow-up.svg" class="scroll-down"/></a>
        </div>
        <div class="col-3">
          {{ with .Site.Copyright }}<p>2018 &copy {{ . | markdownify }}</p>{{ end }}
        </div>
      </div>
  </section>
</footer>
