<div id="{{ .header | urlize }}" class="content-item">
  <div class="row read-close">
    <div class="col-1">
      <p>{{ .header }}</p>
    </div>
    <div class="col-2">
      <span class="read-toggle">Read</span>
    </div>
  </div>
  <div class="row" style="display: none">
    <div class="col-1">

    </div>
    <div class="col-2">
      {{ with .copy }}<p>{{ . | markdownify }}</p>{{ end }}
    </div>
  </div>
</div>
