<header id="top">
    <nav id="main-nav">
      <a id="menu" href="">Menu</a>
      <a id="home" href="/">{{ .Site.Title }}</a>
    </nav>
    <nav id="main-menu">
      <span id="close-menu">&#10005;</span>
      <div id="menu-container">
        <ul>
            {{ range .Site.Menus.main }}
              <li><a href="{{.URL}}">{{ .Name }}</a></li>
            {{ end }}
        </ul>
        <nav class="sub-nav">
          <ul>
            {{ range .Site.Menus.sub_nav }}
              <li><a href="{{ .URL}}">{{ .Name }}</a></li>
            {{ end }}
          </ul>
        </nav>
        <nav class="social-nav">
          <ul>
            {{ range .Site.Menus.social }}
            <li><a href="{{ .URL}}" target="_blank">{{ .Name }}</a></li>
            {{ end }}
          </ul>
        </nav>
      </div>
    </nav>
</header>
