<section class="host">
  <div class="host-content">
    <h3 class="host-item">{{ .Params.host_title }}</h3>
    <div class="host-item">
    {{ .Params.host_copy | markdownify }}
    <ul class="media-links">
      {{ range .Params.host_links }}
        <li><a href="{{ .url }}" target="_blank">{{ .title }}</a></li>
      {{ end }}
    </ul>
    </div>
    </div>
</section>
