<div class="sponsor center">
  <h3 class="sponsor-title">{{ .Params.sponsor }}</h3>
  <p class="sponsor-copy">{{ .Params.sponsor_copy | markdownify }}</p>
  <img class="sponsor-logo" src="{{ .Params.sponsor_logo }}" alt="{{ .Params.sponsor_title }} logo" />
</div>
