{{ if eq "Left" .image_position }}
  <div class='manifesto-block'>
{{ else }}
  <div class='manifesto-block reverse'>
{{ end }}
    <div class='manifesto-item'>
      <img src="{{ .image }}" alt="{{ .image_alt_text }}" >
    </div>
    <div class='manifesto-item'>
        <p>{{ .copy }}</p>
    </div>
  </div>
