<article class="next-session-card">
  <div class="session-card">
    <h2 class="session-title">{{ .Title }}</h2>
    <div class="marquee-wrapper">
      <p class="marquee">
        <time id="session-date" datetime="{{.Params.startTime}}">{{ dateFormat "Monday 2 January 2006" .Params.startTime }}</time>
        <time id="session-startTime" datetime="{{ .Params.startTime }}">{{ dateFormat "3:04" .Params.startTime }}</time> -
        <time id="session-endTime" datetime="{{ .Params.endTime }}">{{ dateFormat "3:04AM" .Params.endTime }}</time>
      </p>
      <p class="marquee">{{ .Params.location }}</p>
    </div>
   </div>
   {{ with .Params.bookingURL }}
      <a class="btn-large" href="{{ . }}">Get your ticket</a>
   {{ end }}
   <div class="details">
     <div class="theme">
        <h3 class="title-xs">Theme</h3>
        <div class="content">
           <p>{{ .Description }}</p>
        </div>
     </div>
     <div class="speakers">
       <h3 class="title-xs">Speakers</h3>
       <div class="speaker-list">
         {{ with .Params.speakerList }}
            {{ range .speakers }}
              <a href=""><div class="speaker">
                 <p class="sub-item" id="speaker-name">{{ .firstName }} {{ .lastName }}</p>
                 {{ if .role }}
                     <p class="sub-item" id="speaker-role">{{ .role }}</p>
                 {{ else }}
                     <p class="sub-item" id="speaker-role">-</p>
                 {{ end }}
                 {{ if .company.name }}
                     <p class="sub-item" id="speaker-company">{{ .company.name }}</p>
                 {{ else }}
                     <p class="sub-item" id="speaker-company">-</p>
                 {{ end }}
              </div>
              </a>
            {{ end }}
            <div class="speaker">
              {{ if not .isComplete }}
                <p>
                  More speakers to be confirmed
                </p>
              {{ end }}
            </div>
         {{ end }}
       </div>
     </div>
   </div>
 </article>
