<article class="next-session-card">
  <div class="session-card">
    <div class='row'>
      <div class='col-1'>
        <p><time id="session-date" datetime="{{.Params.startTime}}">{{ dateFormat "Monday 2 January" .Params.startTime }}</time></p>
        <p><time id="session-startTime" datetime="{{ .Params.startTime }}">{{ dateFormat "3:04" .Params.startTime }}</time> -
        <time id="session-endTime" datetime="{{ .Params.endTime }}">{{ dateFormat "3:04AM" .Params.endTime }}</time>
        </p>
      </div>
      <div class='col-2'>
        {{ with .Params.city }}<p>{{ . }}</p>{{ end }}
      </div>
    </div>
    <div class='row'>
      <div class='col-1'>
        <h3 class="session-title">{{ .Title }}</h2>
      </div>
      <div class='col-2'>
        {{ with .Params.price }}
          <p>{{ . }}</p>
        {{ end }}
        {{ with .Params.bookingURL }}
           <a class="btn-large" href="{{ . }}" target="_blank">Get your ticket</a>
        {{ end }}
      </div>
    </div>
  </div>
 </article>
