<div class='content-item'>
  <div class="row read-close">
    <div class='col-1'>
      <p>{{ .Title }}</p>
    </div>
    <div class='col-2'>
      <span class="read-toggle">Read</span>
    </div>
  </div>
  <div class="row" style="display: none">
    <div class="col-1">
      <div class="location">
        <span>Location</span>
        {{ with .Params.city }}
          <span>{{ . }}</span>
        {{ end }}
      </div>
      <div class="date">
        <span>Date</span>
        <span>{{ dateFormat "January 2006" .Params.startTime }}</span>
      </div>
    </div>
    <div class='col-2'>
      <div class="about">
        <span>About</span>
        {{ with .Params.description }}
          <span>{{ . }}</span>
        {{ end }}
      </div>
      <div class='speakers'>
        <span>Speakers</span>
        {{ with .Params.speakerList }}
           {{ range .speakers }}
             <div class="speaker">
               {{ $firstName := .firstName }}
               {{ $lastName := .lastName }}
               {{ if .links }}
                {{ range .links }}
                  {{ if .isPrimary }}
                    <a href="{{ .URL }}" title="{{ .title }}" target="=_blank"><p id="speaker-name">{{ $firstName }} {{ $lastName }}</p></a>
                  {{ end }}
                {{ end }}
              {{ else }}
                <p id="speaker-name">{{ $firstName }} {{ $lastName }}</p>
              {{ end }}
               {{ with .role }}
                   <p id="speaker-role">{{ . }}</p>
               {{ end }}
               {{ with .company.name }}
                    <p id="speaker-company">{{ . }}</p>
              {{ end }}
             </div>
           {{ end }}
        {{ end }}
      </div>
    </div>
  </div>
</div>
