{{ define "title"}}
  - {{ .Title }}
{{ end }}

{{ define "content" }}
  {{ partial "header.html" . }}
  {{ partial "page_intro.html" . }}
  <section class="podcast">
  <h2>Hear more on our podcast</h2>
    <section id="podcast-list">
    {{ range .Data.Pages }}
      {{ partial "podcasts_list/podcast_card_item.html" . }}
    {{ end }}
    </section>
  </section>
{{ end }}

{{ define "host" }}
  {{ partial "host.html" . }}
{{ end }}
