<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width initial-scale=1">
    <meta name="description" content="Uncover how organisations design the products and services we use everyday. DOTI sessions and the DOTI podcast explores the ins and outs of how design is being implemented, used, and scaled across organisations."/>
    <!-- <meta http-equiv="Cache-Control" content="max-age=300, public"/> -->
    <!-- third-generation iPad with high-resolution Retina display: -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/img/favicons/144x144.png">
    <!-- iPhone with high-resolution Retina display: -->
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/img/favicons/114x114.png">
    <!-- first- and second-generation iPad: -->
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/img/favicons/72x72.png">
    <!-- non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
    <link rel="apple-touch-icon-precomposed" href="/img/favicons/57x57.png">
    <!-- basic favicon -->
    <link rel="shortcut icon" href="/img/favicons/32x32.png">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Ubuntu:100,300,400,600,700" rel="stylesheet" />
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-59811907-2"></script>
    <script defer
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"></script>
  </body>
    <script defer src="/js/app.js" type="application/javascript"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-59811907-2');
    </script>
    <!-- Hotjar Tracking Code for https://designontheinside.com -->
    <script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:923666,hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
    </script>
    <link href="/css/style.css" rel="stylesheet" />
    <title>{{ .Site.Title }}{{ block "title" . }} {{ end }}</title>
  </head>
  <body>
    {{ block "header" . }}
    {{ end }}
    {{ if .IsHome }}
    {{ range where .Site.Pages "Type" "session" }}
      {{ $t := (time .Params.endTime )}}
      {{ if $t.After now }}
       <div id="banner">
          <span>
            <div class="row">
              <div class="col-1">
                <p id="session-title">{{ .Title }}</p>
                <span class="spacer">&#124;</span>
                <p><time id="session-date" datetime="{{.Params.startTime}}">{{ dateFormat "2 January" .Params.startTime }}</time></p>
                <span class="spacer">&#124;</span>
                <p><time id="session-startTime" datetime="{{ .Params.startTime }}">{{ dateFormat "3:04" .Params.startTime }} -
                <time id="session-endTime" datetime="{{ .Params.endTime }}">{{ dateFormat "3:04AM" .Params.endTime }}</time></p>
               </div>

              <div class="col-2">
                <span>
                  <a href="{{.Params.bookingURL}}" class="btn-large">Book now</a>
                </span>
              </div>
            </div>
           </span>
      </div>
      {{ end }}
      {{ end }}
      <div class="site home">
    {{ else }}
      <div class="site">
    {{ end }}
      {{ block "content" . }}
      {{ end }}
    </div>
    {{ block "host" . }}
    {{ end }}
    {{ if not .IsHome}}
      {{ partial "footer.html" . }}
    {{ end }}
</html>
