{{ define "content" }}
  <section id="ani">
      <img src='img/DOTI.svg' id="logo" />
      <div>
        <a href="#main-nav"><img src="img/Arrow-down.svg" class="scroll-down"/></a>
      </div>
  </section>
  <section class="main-site">
    {{ partial "header.html" . }}
    {{ partial "page_intro.html" . }}
  </section>
{{ end }}
