<!-- Card for each podcast episode on the list page -->
<article class="podcast-card">
  <a href="{{ .RelPermalink }}">
    {{ with index .Params.speakers 0 }}
    <div class="podcast-overview" style="background:url({{ .image }}) no-repeat center center; background-size: cover;">
      <div class="podcast-cta">
        <span>Hear from {{ .firstName }}</span>
      {{ end }}
        <p id="podcast-runtime">{{ .Params.runtime }}mins</p>
      </div>
  </div></a>
  <div class="podcast-details">
    <h3 id="podcast-title">{{ .Title }}</h3>
      {{ with index .Params.speakers 0 }}
      <p id="speaker-name">{{ .firstName}} {{ .lastName}}, <span id="speaker-role">{{ .role }}</span></p>
      {{ end }}
  </div>
</article>
